<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>БЛОГ</title>
</head>
<link href="{% static 'css/style.css'%}" rel="stylesheet">
<body>
<main>
<h2 class="title" >Записи в блоге &#9749;</h2>
{% for post in posts %}
<ul id="tasks"><a class="tasks" href="{% url 'post_detail' post.id %}">{{ post.title }}</a></ul>
{% endfor %}
<form method="post" action="{% url 'main' %}">
        {% csrf_token %}
        <label for="title">Название</label><br>
        <input id='title' name="title" type="text"><br>
        <label for="text">Описание</label><br>
        <textarea id='text' name="text" type="text"></textarea><br>
        <input id='next' type="submit" value="Опубликовать">
</form>
</main>
</body>
</html>