{% extends 'base.html' %}
{% block content %}


    <div class="row mt-4">
        <div class="col-sm-12"><h2>{{ post.title }}</h2>
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.text }}</h5>
                        <p class="card-text">{{ post.created_data }}</p>
                        <a href="/" class="btn btn-primary">Назад</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}