{% extends 'base.html' %}
{% block content %}


<div class="row mt-4">
    <div class="col-sm-5"><h2>Добавить запись</h2>
        <form id="inp" method="post" action="{% url 'post_add' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="text">Заголовок</label><br>
                <input id='text' name="text" type="text"><br>
            </div>
            <div class="mb-3">
                <label for="title">Описание</label><br>
                <input id='title' name="title" type="text"><br>
            </div>
            <input class="btn btn-primary" type="submit" value="Добавить">
        </form>
    </div>
</div>

{% endblock %}